/* 
⚠️ changes to this file require a restart of the "dev" process!
@TODO: stylelint does not like unknown @-rule

These are the current breakpoint-boundaries:
📱 mobile first!
*/

$xsmall: 250px;
$small: 360px;
$medium: 600px;

@custom-media --xsmall-only (width <= 250px);

@custom-media --small-down (width <= 360px);
@custom-media --small-up (width > 360px);

@custom-media --medium-down (width <= 600px);
@custom-media --medium-up (width > 600px);
